/*----------------------------------------*/
/*  Pagination CSS START
/*----------------------------------------*/
.pagination {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 0;
    gap: 10px;
    justify-content: center;
    @include media-query(1399px) {
        margin-top: 55px;
    }
    @include media-query(767px) {
        margin-top: 40px;
    }
    li {
        a {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: none;
            border-radius: 50%;
            color: $dark-gray;
            transition: $transition;
            padding: 0;
            background-color: $accent-2;
            @include media-query(400px) {
                width: 32px;
                height: 32px;
            }
            svg {
                transition: $transition;
                path {
                    stroke: $dark-gray;
                    transition: $transition;
                }
            }
            &.next,
            &.active,
            &:hover {
                transition: $transition;
                color: $white;
                background: $accent-1;
                svg{
                    path {
                        stroke: $white;
                        transition: $transition;
                    }
                }
            }
        }
    }
}
