#preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: $accent-2;
  z-index: 9999999;
  display: grid;
  align-content: center;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $gap-48;

  #box {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      display: inline-block;
      margin: 5px;
      font-size: 35px;
      color: $accent-1;
      animation: 2s obrot linear infinite;

      &:nth-child(1) {
        animation-delay: 0s;
      }

      &:nth-child(2) {
        animation-delay: 0.1s;
      }

      &:nth-child(3) {
        animation-delay: 0.2s;
      }

      &:nth-child(4) {
        animation-delay: 0.3s;
      }

      &:nth-child(5) {
        animation-delay: 0.4s;
      }

      &:nth-child(6) {
        animation-delay: 0.5s;
      }

      &:nth-child(7) {
        animation-delay: 0.6s;
      }
    }
  }
}


@keyframes obrot {
  0% {
    transform: rotateX(0);
  }

  12.5% {
    transform: rotateX(90deg);
  }

  25% {
    transform: rotateX(180deg);
  }

  37.5% {
    transform: rotateX(270deg);
  }

  50% {
    transform: rotateX(360deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}