.elementor-1185 .elementor-element.elementor-element-191e4cf {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --padding-top: 100px;
    --padding-bottom: 50px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1185 .elementor-element.elementor-element-1a06edc {
    --display: flex;
    --justify-content: flex-start;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-1185 .elementor-element.elementor-element-0f2c972 .elementor-heading-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-widget-text-editor {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
    letter-spacing: var( --e-global-typography-text-letter-spacing);
    color: var( --e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-1185 .elementor-element.elementor-element-75ee7ee {
    text-align: center;
    color: var( --e-global-color-accent);
}

.elementor-1185 .elementor-element.elementor-element-d87f399 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-widget-site-logo .hfe-site-logo-container .hfe-site-logo-img {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-site-logo .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
    letter-spacing: var( --e-global-typography-text-letter-spacing);
}

.elementor-1185 .elementor-element.elementor-element-4163ba1 .hfe-site-logo {
    text-align: center;
}

.elementor-1185 .elementor-element.elementor-element-4163ba1 .hfe-site-logo .hfe-site-logo-container img {
    width: 150px;
}

.elementor-1185 .elementor-element.elementor-element-4163ba1 .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-1185 .elementor-element.elementor-element-4163ba1 .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-1185 .elementor-element.elementor-element-f37df44 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 16px;
    --grid-column-gap: 8px;
    --grid-row-gap: 0px;
}

.elementor-1185 .elementor-element.elementor-element-f37df44 .elementor-widget-container {
    text-align: center;
}

.elementor-1185 .elementor-element.elementor-element-f37df44 .elementor-social-icon {
    background-color: #FFFFFF1A;
    --icon-padding: 10px;
}

.elementor-1185 .elementor-element.elementor-element-f37df44 .elementor-social-icon:hover {
    background-color: var( --e-global-color-accent);
}

.elementor-1185 .elementor-element.elementor-element-f37df44 .elementor-social-icon:hover i {
    color: #333333;
}

.elementor-1185 .elementor-element.elementor-element-f37df44 .elementor-social-icon:hover svg {
    fill: #333333;
}

.elementor-1185 .elementor-element.elementor-element-a6ccb22 {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1185 .elementor-element.elementor-element-4e7d5a4 .elementor-heading-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-1185 .elementor-element.elementor-element-ae3306f {
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-1185 .elementor-element.elementor-element-ae3306f a {
    color: var( --e-global-color-accent);
}

.elementor-1185 .elementor-element.elementor-element-1d8a114 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 0px 0px 0px;
    --border-top-width: 1px;
    --border-right-width: 0px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    border-color: #FFFFFF1A;
    --border-color: #FFFFFF1A;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1185 .elementor-element.elementor-element-21b107d .rts__copyright p {
    text-align: center;
    color: #fff;
}

@media(max-width:1366px) {
    .elementor-widget-text-editor {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
    .elementor-widget-site-logo .widget-image-caption {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
}

@media(max-width:1024px) {
    .elementor-widget-text-editor {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
    .elementor-widget-site-logo .widget-image-caption {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
}

@media(max-width:767px) {
    .elementor-1185 .elementor-element.elementor-element-191e4cf {
        --gap: 30px 30px;
        --row-gap: 30px;
        --column-gap: 30px;
    }
    .elementor-widget-text-editor {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
    .elementor-widget-site-logo .widget-image-caption {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
}