.elementor-102 .elementor-element.elementor-element-e5fe665 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 1px 1px 1px;
    --border-top-width: 1px;
    --border-right-width: 1px;
    --border-bottom-width: 1px;
    --border-left-width: 1px;
    border-color: #FFFFFF1A;
    --border-color: #FFFFFF1A;
    --border-radius: 6px 6px 6px 6px;
    --padding-top: 25px;
    --padding-bottom: 25px;
    --padding-left: 25px;
    --padding-right: 25px;
}

.elementor-102 .elementor-element.elementor-element-e5fe665:not(.elementor-motion-effects-element-type-background),
.elementor-102 .elementor-element.elementor-element-e5fe665>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #101435;
}

.elementor-102 .elementor-element.elementor-element-c065819 {
    --display: grid;
    --e-con-grid-template-columns: repeat(5, 1fr);
    --e-con-grid-template-rows: repeat(1, 1fr);
    --gap: 15px 15px;
    --row-gap: 15px;
    --column-gap: 15px;
    --grid-auto-flow: row;
}

.elementor-102 .elementor-element.elementor-element-233a753 {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 15px 15px;
    --row-gap: 15px;
    --column-gap: 15px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
    letter-spacing: var( --e-global-typography-text-letter-spacing);
}

.elementor-102 .elementor-element.elementor-element-2f3e905 .jarallax-container {
    border-radius: 10px 10px 10px 10px !important;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-102 .elementor-element.elementor-element-b4b6197>.elementor-widget-container {
    margin: 0px 0px -15px 0px;
}

.elementor-102 .elementor-element.elementor-element-b4b6197 .elementor-heading-title {
    font-family: "Manrope", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-102 .elementor-element.elementor-element-c9f8f8a {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 15px 15px;
    --row-gap: 15px;
    --column-gap: 15px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-102 .elementor-element.elementor-element-e498a7a .jarallax-container {
    border-radius: 10px 10px 10px 10px !important;
}

.elementor-102 .elementor-element.elementor-element-13d4907>.elementor-widget-container {
    margin: 0px 0px -15px 0px;
}

.elementor-102 .elementor-element.elementor-element-13d4907 .elementor-heading-title {
    font-family: "Manrope", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-102 .elementor-element.elementor-element-d8d4a09 {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 15px 15px;
    --row-gap: 15px;
    --column-gap: 15px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-102 .elementor-element.elementor-element-9540159 .jarallax-container {
    border-radius: 10px 10px 10px 10px !important;
}

.elementor-102 .elementor-element.elementor-element-9ec909a>.elementor-widget-container {
    margin: 0px 0px -15px 0px;
}

.elementor-102 .elementor-element.elementor-element-9ec909a .elementor-heading-title {
    font-family: "Manrope", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-102 .elementor-element.elementor-element-4f48d50 {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 15px 15px;
    --row-gap: 15px;
    --column-gap: 15px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-102 .elementor-element.elementor-element-633af4f .jarallax-container {
    border-radius: 10px 10px 10px 10px !important;
}

.elementor-102 .elementor-element.elementor-element-02840a5>.elementor-widget-container {
    margin: 0px 0px -15px 0px;
}

.elementor-102 .elementor-element.elementor-element-02840a5 .elementor-heading-title {
    font-family: "Manrope", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-102 .elementor-element.elementor-element-ad87476 {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 15px 15px;
    --row-gap: 15px;
    --column-gap: 15px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-102 .elementor-element.elementor-element-2741332 .jarallax-container {
    border-radius: 10px 10px 10px 10px !important;
}

.elementor-102 .elementor-element.elementor-element-6cb771c>.elementor-widget-container {
    margin: 0px 0px -15px 0px;
}

.elementor-102 .elementor-element.elementor-element-6cb771c .elementor-heading-title {
    font-family: "Manrope", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

@media(max-width:1366px) {
    .elementor-102 .elementor-element.elementor-element-c065819 {
        --grid-auto-flow: row;
    }
    .elementor-widget-image .widget-image-caption {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
}

@media(max-width:1024px) {
    .elementor-102 .elementor-element.elementor-element-c065819 {
        --grid-auto-flow: row;
    }
    .elementor-widget-image .widget-image-caption {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
}

@media(max-width:767px) {
    .elementor-102 .elementor-element.elementor-element-c065819 {
        --e-con-grid-template-columns: repeat(1, 1fr);
        --grid-auto-flow: row;
    }
    .elementor-widget-image .widget-image-caption {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
}