.elementor-1401 .elementor-element.elementor-element-f072af2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 1px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    border-color: #FFFFFF33;
    --border-color: #FFFFFF33;
    --border-radius: 0px 0px 0px 0px;
    --margin-top: 0px;
    --margin-bottom: 030px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 30px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1401 .elementor-element.elementor-element-127c782 {
    --display: flex;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-1401 .elementor-element.elementor-element-eb0461a .elementor-heading-title {
    font-weight: 600;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-d99f9e9 {
    --display: flex;
}

.elementor-widget-image-box .elementor-image-box-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-widget-image-box:has(:hover) .elementor-image-box-title,
.elementor-widget-image-box:has(:focus) .elementor-image-box-title {
    color: var( --e-global-color-primary);
}

.elementor-widget-image-box .elementor-image-box-description {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
    letter-spacing: var( --e-global-typography-text-letter-spacing);
    color: var( --e-global-color-text);
}

.elementor-1401 .elementor-element.elementor-element-6b2f233.elementor-position-right .elementor-image-box-img {
    margin-left: 25px;
}

.elementor-1401 .elementor-element.elementor-element-6b2f233.elementor-position-left .elementor-image-box-img {
    margin-right: 25px;
}

.elementor-1401 .elementor-element.elementor-element-6b2f233.elementor-position-top .elementor-image-box-img {
    margin-bottom: 25px;
}

.elementor-1401 .elementor-element.elementor-element-6b2f233 .elementor-image-box-title {
    margin-bottom: 5px;
    font-family: "Manrope", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-6b2f233 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100px;
}

.elementor-1401 .elementor-element.elementor-element-6b2f233 .elementor-image-box-img img {
    border-radius: 10px;
    transition-duration: 0.3s;
}

.elementor-1401 .elementor-element.elementor-element-6b2f233:has(:hover) .elementor-image-box-title,
.elementor-1401 .elementor-element.elementor-element-6b2f233:has(:focus) .elementor-image-box-title {
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-6b2f233 .elementor-image-box-description {
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-75d4edd {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
}

.elementor-1401 .elementor-element.elementor-element-91ee093 .elementor-heading-title {
    font-family: "Manrope", Sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-widget-text-editor {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
    letter-spacing: var( --e-global-typography-text-letter-spacing);
    color: var( --e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-1401 .elementor-element.elementor-element-2337166 {
    font-family: "Manrope", Sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.elementor-1401 .elementor-element.elementor-element-2337166 p {
    margin-bottom: 0px;
}

.elementor-1401 .elementor-element.elementor-element-d0e2666 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 1px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    border-color: #FFFFFF33;
    --border-color: #FFFFFF33;
    --border-radius: 0px 0px 0px 0px;
    --margin-top: 0px;
    --margin-bottom: 030px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 30px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1401 .elementor-element.elementor-element-e262e93 {
    --display: flex;
}

.elementor-1401 .elementor-element.elementor-element-24d3ae2 .elementor-heading-title {
    font-weight: 600;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-8f89049 {
    --display: flex;
}

.elementor-1401 .elementor-element.elementor-element-1bfe0b6.elementor-position-right .elementor-image-box-img {
    margin-left: 25px;
}

.elementor-1401 .elementor-element.elementor-element-1bfe0b6.elementor-position-left .elementor-image-box-img {
    margin-right: 25px;
}

.elementor-1401 .elementor-element.elementor-element-1bfe0b6.elementor-position-top .elementor-image-box-img {
    margin-bottom: 25px;
}

.elementor-1401 .elementor-element.elementor-element-1bfe0b6 .elementor-image-box-title {
    margin-bottom: 5px;
    font-family: "Manrope", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-1bfe0b6 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100px;
}

.elementor-1401 .elementor-element.elementor-element-1bfe0b6 .elementor-image-box-img img {
    border-radius: 10px;
    transition-duration: 0.3s;
}

.elementor-1401 .elementor-element.elementor-element-1bfe0b6:has(:hover) .elementor-image-box-title,
.elementor-1401 .elementor-element.elementor-element-1bfe0b6:has(:focus) .elementor-image-box-title {
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-1bfe0b6 .elementor-image-box-description {
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-491523b {
    --display: flex;
    --gap: 20px 020px;
    --row-gap: 20px;
    --column-gap: 020px;
}

.elementor-1401 .elementor-element.elementor-element-2ca458f .elementor-heading-title {
    font-family: "Manrope", Sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-005c18c {
    font-family: "Manrope", Sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.elementor-1401 .elementor-element.elementor-element-005c18c p {
    margin-bottom: 0px;
}

.elementor-1401 .elementor-element.elementor-element-7795cd2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 1px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    border-color: #FFFFFF33;
    --border-color: #FFFFFF33;
    --border-radius: 0px 0px 0px 0px;
    --margin-top: 0px;
    --margin-bottom: 030px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 30px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1401 .elementor-element.elementor-element-2124296 {
    --display: flex;
}

.elementor-1401 .elementor-element.elementor-element-34dd84c .elementor-heading-title {
    font-weight: 600;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-132bea0 {
    --display: flex;
}

.elementor-1401 .elementor-element.elementor-element-89494b5.elementor-position-right .elementor-image-box-img {
    margin-left: 25px;
}

.elementor-1401 .elementor-element.elementor-element-89494b5.elementor-position-left .elementor-image-box-img {
    margin-right: 25px;
}

.elementor-1401 .elementor-element.elementor-element-89494b5.elementor-position-top .elementor-image-box-img {
    margin-bottom: 25px;
}

.elementor-1401 .elementor-element.elementor-element-89494b5 .elementor-image-box-title {
    margin-bottom: 5px;
    font-family: "Manrope", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-89494b5 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100px;
}

.elementor-1401 .elementor-element.elementor-element-89494b5 .elementor-image-box-img img {
    border-radius: 10px;
    transition-duration: 0.3s;
}

.elementor-1401 .elementor-element.elementor-element-89494b5:has(:hover) .elementor-image-box-title,
.elementor-1401 .elementor-element.elementor-element-89494b5:has(:focus) .elementor-image-box-title {
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-89494b5 .elementor-image-box-description {
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-eb0e2ee {
    --display: flex;
}

.elementor-1401 .elementor-element.elementor-element-63a34c0 .elementor-heading-title {
    font-family: "Manrope", Sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-f0723ef {
    font-family: "Manrope", Sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.elementor-1401 .elementor-element.elementor-element-f0723ef p {
    margin-bottom: 0px;
}

.elementor-1401 .elementor-element.elementor-element-42f1a0a {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 1px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    border-color: #FFFFFF33;
    --border-color: #FFFFFF33;
    --border-radius: 0px 0px 0px 0px;
    --margin-top: 0px;
    --margin-bottom: 030px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 30px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1401 .elementor-element.elementor-element-6272481 {
    --display: flex;
}

.elementor-1401 .elementor-element.elementor-element-e399d98 .elementor-heading-title {
    font-weight: 600;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-4faf959 {
    --display: flex;
}

.elementor-1401 .elementor-element.elementor-element-631e099.elementor-position-right .elementor-image-box-img {
    margin-left: 25px;
}

.elementor-1401 .elementor-element.elementor-element-631e099.elementor-position-left .elementor-image-box-img {
    margin-right: 25px;
}

.elementor-1401 .elementor-element.elementor-element-631e099.elementor-position-top .elementor-image-box-img {
    margin-bottom: 25px;
}

.elementor-1401 .elementor-element.elementor-element-631e099 .elementor-image-box-title {
    margin-bottom: 5px;
    font-family: "Manrope", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-631e099 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100px;
}

.elementor-1401 .elementor-element.elementor-element-631e099 .elementor-image-box-img img {
    border-radius: 10px;
    transition-duration: 0.3s;
}

.elementor-1401 .elementor-element.elementor-element-631e099:has(:hover) .elementor-image-box-title,
.elementor-1401 .elementor-element.elementor-element-631e099:has(:focus) .elementor-image-box-title {
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-631e099 .elementor-image-box-description {
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-6b014c8 {
    --display: flex;
}

.elementor-1401 .elementor-element.elementor-element-68367cc .elementor-heading-title {
    font-family: "Manrope", Sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
    color: var( --e-global-color-accent);
}

.elementor-1401 .elementor-element.elementor-element-786cf6f {
    font-family: "Manrope", Sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.elementor-1401 .elementor-element.elementor-element-786cf6f p {
    margin-bottom: 0px;
}

@media(min-width:768px) {
    .elementor-1401 .elementor-element.elementor-element-127c782 {
        --width: 20%;
    }
    .elementor-1401 .elementor-element.elementor-element-d99f9e9 {
        --width: 50%;
    }
    .elementor-1401 .elementor-element.elementor-element-75d4edd {
        --width: 80%;
    }
    .elementor-1401 .elementor-element.elementor-element-e262e93 {
        --width: 20%;
    }
    .elementor-1401 .elementor-element.elementor-element-8f89049 {
        --width: 50%;
    }
    .elementor-1401 .elementor-element.elementor-element-491523b {
        --width: 80%;
    }
    .elementor-1401 .elementor-element.elementor-element-2124296 {
        --width: 20%;
    }
    .elementor-1401 .elementor-element.elementor-element-132bea0 {
        --width: 50%;
    }
    .elementor-1401 .elementor-element.elementor-element-eb0e2ee {
        --width: 80%;
    }
    .elementor-1401 .elementor-element.elementor-element-6272481 {
        --width: 20%;
    }
    .elementor-1401 .elementor-element.elementor-element-4faf959 {
        --width: 50%;
    }
    .elementor-1401 .elementor-element.elementor-element-6b014c8 {
        --width: 80%;
    }
}

@media(max-width:1366px) and (min-width:768px) {
    .elementor-1401 .elementor-element.elementor-element-127c782 {
        --width: 40%;
    }
    .elementor-1401 .elementor-element.elementor-element-d99f9e9 {
        --width: 80%;
    }
    .elementor-1401 .elementor-element.elementor-element-e262e93 {
        --width: 40%;
    }
    .elementor-1401 .elementor-element.elementor-element-8f89049 {
        --width: 80%;
    }
    .elementor-1401 .elementor-element.elementor-element-2124296 {
        --width: 40%;
    }
    .elementor-1401 .elementor-element.elementor-element-132bea0 {
        --width: 80%;
    }
    .elementor-1401 .elementor-element.elementor-element-6272481 {
        --width: 40%;
    }
    .elementor-1401 .elementor-element.elementor-element-4faf959 {
        --width: 80%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1401 .elementor-element.elementor-element-75d4edd {
        --width: 100%;
    }
    .elementor-1401 .elementor-element.elementor-element-491523b {
        --width: 100%;
    }
    .elementor-1401 .elementor-element.elementor-element-eb0e2ee {
        --width: 100%;
    }
    .elementor-1401 .elementor-element.elementor-element-6b014c8 {
        --width: 100%;
    }
}

@media(max-width:1366px) {
    .elementor-1401 .elementor-element.elementor-element-eb0461a .elementor-heading-title {
        line-height: 26px;
    }
    .elementor-widget-image-box .elementor-image-box-description {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
    .elementor-1401 .elementor-element.elementor-element-75d4edd {
        --gap: 10px 10px;
        --row-gap: 10px;
        --column-gap: 10px;
    }
    .elementor-widget-text-editor {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
    .elementor-1401 .elementor-element.elementor-element-24d3ae2 .elementor-heading-title {
        line-height: 26px;
    }
    .elementor-1401 .elementor-element.elementor-element-491523b {
        --gap: 10px 10px;
        --row-gap: 10px;
        --column-gap: 10px;
    }
    .elementor-1401 .elementor-element.elementor-element-34dd84c .elementor-heading-title {
        line-height: 26px;
    }
    .elementor-1401 .elementor-element.elementor-element-eb0e2ee {
        --gap: 10px 10px;
        --row-gap: 10px;
        --column-gap: 10px;
    }
    .elementor-1401 .elementor-element.elementor-element-e399d98 .elementor-heading-title {
        line-height: 26px;
    }
    .elementor-1401 .elementor-element.elementor-element-6b014c8 {
        --gap: 10px 10px;
        --row-gap: 10px;
        --column-gap: 10px;
    }
}

@media(max-width:1024px) {
    .elementor-1401 .elementor-element.elementor-element-f072af2 {
        --flex-direction: column;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --align-items: flex-start;
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
    }
    .elementor-widget-image-box .elementor-image-box-description {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
    .elementor-widget-text-editor {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
    .elementor-1401 .elementor-element.elementor-element-d0e2666 {
        --flex-direction: column;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --align-items: flex-start;
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
    }
    .elementor-1401 .elementor-element.elementor-element-7795cd2 {
        --flex-direction: column;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --align-items: flex-start;
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
    }
    .elementor-1401 .elementor-element.elementor-element-42f1a0a {
        --flex-direction: column;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --align-items: flex-start;
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
    }
}

@media(max-width:767px) {
    .elementor-1401 .elementor-element.elementor-element-eb0461a {
        text-align: center;
    }
    .elementor-widget-image-box .elementor-image-box-description {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
    .elementor-1401 .elementor-element.elementor-element-6b2f233 .elementor-image-box-img {
        margin-bottom: 14px;
    }
    .elementor-1401 .elementor-element.elementor-element-6b2f233.elementor-position-right .elementor-image-box-img {
        margin-left: 14px;
    }
    .elementor-1401 .elementor-element.elementor-element-6b2f233.elementor-position-left .elementor-image-box-img {
        margin-right: 14px;
    }
    .elementor-1401 .elementor-element.elementor-element-6b2f233.elementor-position-top .elementor-image-box-img {
        margin-bottom: 14px;
    }
    .elementor-1401 .elementor-element.elementor-element-6b2f233 .elementor-image-box-title {
        margin-bottom: 7px;
    }
    .elementor-widget-text-editor {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
    .elementor-1401 .elementor-element.elementor-element-24d3ae2 {
        text-align: center;
    }
    .elementor-1401 .elementor-element.elementor-element-1bfe0b6 .elementor-image-box-img {
        margin-bottom: 14px;
    }
    .elementor-1401 .elementor-element.elementor-element-1bfe0b6.elementor-position-right .elementor-image-box-img {
        margin-left: 14px;
    }
    .elementor-1401 .elementor-element.elementor-element-1bfe0b6.elementor-position-left .elementor-image-box-img {
        margin-right: 14px;
    }
    .elementor-1401 .elementor-element.elementor-element-1bfe0b6.elementor-position-top .elementor-image-box-img {
        margin-bottom: 14px;
    }
    .elementor-1401 .elementor-element.elementor-element-1bfe0b6 .elementor-image-box-title {
        margin-bottom: 7px;
    }
    .elementor-1401 .elementor-element.elementor-element-34dd84c {
        text-align: center;
    }
    .elementor-1401 .elementor-element.elementor-element-89494b5 .elementor-image-box-img {
        margin-bottom: 14px;
    }
    .elementor-1401 .elementor-element.elementor-element-89494b5.elementor-position-right .elementor-image-box-img {
        margin-left: 14px;
    }
    .elementor-1401 .elementor-element.elementor-element-89494b5.elementor-position-left .elementor-image-box-img {
        margin-right: 14px;
    }
    .elementor-1401 .elementor-element.elementor-element-89494b5.elementor-position-top .elementor-image-box-img {
        margin-bottom: 14px;
    }
    .elementor-1401 .elementor-element.elementor-element-89494b5 .elementor-image-box-title {
        margin-bottom: 7px;
    }
    .elementor-1401 .elementor-element.elementor-element-e399d98 {
        text-align: center;
    }
    .elementor-1401 .elementor-element.elementor-element-631e099 .elementor-image-box-img {
        margin-bottom: 14px;
    }
    .elementor-1401 .elementor-element.elementor-element-631e099.elementor-position-right .elementor-image-box-img {
        margin-left: 14px;
    }
    .elementor-1401 .elementor-element.elementor-element-631e099.elementor-position-left .elementor-image-box-img {
        margin-right: 14px;
    }
    .elementor-1401 .elementor-element.elementor-element-631e099.elementor-position-top .elementor-image-box-img {
        margin-bottom: 14px;
    }
    .elementor-1401 .elementor-element.elementor-element-631e099 .elementor-image-box-title {
        margin-bottom: 7px;
    }
}