.elementor-61 .elementor-element.elementor-element-78cd92e {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-61 .elementor-element.elementor-element-78cd92e.e-con {
    --align-self: center;
}

.elementor-61 .elementor-element.elementor-element-6af3775 {
    --display: flex;
    --justify-content: flex-start;
}

.elementor-61 .elementor-element.elementor-element-6af3775.e-con {
    --align-self: center;
}

.elementor-widget-site-logo .hfe-site-logo-container .hfe-site-logo-img {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-site-logo .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
    letter-spacing: var( --e-global-typography-text-letter-spacing);
}

.elementor-61 .elementor-element.elementor-element-220c26b .hfe-site-logo {
    text-align: left;
}

.elementor-61 .elementor-element.elementor-element-220c26b .hfe-site-logo .hfe-site-logo-container img {
    width: 120px;
}

.elementor-61 .elementor-element.elementor-element-220c26b .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-61 .elementor-element.elementor-element-220c26b .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-61 .elementor-element.elementor-element-b585d71 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-61 .elementor-element.elementor-element-b585d71.e-con {
    --align-self: center;
}

header.sticky-header .rtmega-menu-container .desktop-menu-area>.rtmega-megamenu>.menu-item>.menu-link {
    color: var( --e-global-color-text);
}

header.sticky-header .rtmega-menu-container .desktop-menu-area>.rtmega-megamenu>.menu-item:hover>.menu-link {
    color: var( --e-global-color-accent);
}

header.sticky-header {
    background: #101435 !important;
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .desktop-menu-area .rtmega-megamenu>.menu-item>.menu-link {
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: left;
    color: var( --e-global-color-accent);
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu>.menu-item>.menu-link {
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: left;
    color: var( --e-global-color-accent);
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item ul.sub-menu:not(.rtmegamenu-contents):not(.rtmegamenu-contents) {
    min-width: 220px;
    width: 220px;
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item ul.sub-menu:not(.rtmegamenu-contents):not(.rtmegamenu-contents) {
    min-width: 220px;
    width: 220px;
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item ul.sub-menu:not(.rtmegamenu-contents) {
    border-radius: 4px 4px 4px 4px;
    background-color: #101435;
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item ul.sub-menu:not(.rtmegamenu-contents) {
    border-radius: 4px 4px 4px 4px;
    background-color: #101435;
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item ul.sub-menu:not(.rtmegamenu-contents) .menu-item .menu-link {
    padding: 5px 10px 5px 15px;
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item ul.sub-menu:not(.rtmegamenu-contents) .menu-item .menu-link {
    padding: 5px 10px 5px 15px;
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .mobile-menu-area .rtmega-menu-mobile-sidebar .rtmega-megamenu>.menu-item>.menu-link {
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-61 .elementor-element.elementor-element-21899ad.elementor-element {
    --align-self: center;
}

.elementor-61 .elementor-element.elementor-element-21899ad li.menu-item .menu-desc {
    display: none;
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item .menu-link,
.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item .menu-link {
    font-family: "Manrope", Sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item ul.sub-menu:not(.rtmegamenu-contents)>.menu-item>.menu-link {
    color: var( --e-global-color-accent);
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item ul.sub-menu:not(.rtmegamenu-contents)>.menu-item>.menu-link {
    color: var( --e-global-color-accent);
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item>ul.sub-menu:not(.rtmegamenu-contents)>.menu-item:hover>.menu-link {
    background-color: var( --e-global-color-secondary);
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item>ul.sub-menu:not(.rtmegamenu-contents)>.menu-item:hover>.menu-link {
    background-color: var( --e-global-color-secondary);
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item>ul.sub-menu:not(.rtmegamenu-contents)>.menu-item>.menu-link,
.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item>ul.sub-menu:not(.rtmegamenu-contents)>.menu-item>.menu-link {
    font-size: 15px;
    font-weight: 400;
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item ul.sub-menu:not(.rtmegamenu-contents) .menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF1A;
    border-bottom-width: 1px;
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item ul.sub-menu:not(.rtmegamenu-contents) .menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF1A;
    border-bottom-width: 1px;
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item ul.sub-menu:not(.rtmegamenu-contents) .menu-item .menu-link .menu-desc {
    color: #497696;
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item ul.sub-menu:not(.rtmegamenu-contents) .menu-item .menu-link .menu-desc {
    color: #497696;
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .mobile-menu-area .rtmega-menu-mobile-sidebar .rtmega-megamenu .menu-item .menu-link {
    font-size: 15px;
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-mobile-button svg rect {
    fill: var( --e-global-color-accent);
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .mobile-menu-area .rtmega-menu-mobile-sidebar .rtmega-menu-mobile-close {
    padding: 10px 10px 10px 10px;
    background: var( --e-global-color-secondary);
}

.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu .menu-item-has-children.rtmega_menu>.sub-menu:not(.rtmegamenu-contents),
.elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu .menu-item-has-children ul.rtmegamenu-contents.sub-menu.submenu {
    width: 1280px;
}

.elementor-61 .elementor-element.elementor-element-cc86739 {
    --display: flex;
    --justify-content: center;
    --align-items: flex-end;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
}

.elementor-61 .elementor-element.elementor-element-cc86739.e-con {
    --align-self: center;
}

.elementor-61 .elementor-element.elementor-element-402a93d .rts__main__btn {
    font-family: "Manrope", Sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: var( --e-global-color-secondary);
}

@media(min-width:768px) {
    .elementor-61 .elementor-element.elementor-element-6af3775 {
        --width: 20%;
    }
    .elementor-61 .elementor-element.elementor-element-cc86739 {
        --width: 20%;
    }
}

@media(max-width:1366px) and (min-width:768px) {
    .elementor-61 .elementor-element.elementor-element-cc86739 {
        --width: 24%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-61 .elementor-element.elementor-element-6af3775 {
        --width: 30%;
    }
    .elementor-61 .elementor-element.elementor-element-b585d71 {
        --width: 8%;
    }
    .elementor-61 .elementor-element.elementor-element-cc86739 {
        --width: 65%;
    }
}

@media(max-width:1366px) {
    .elementor-61 .elementor-element.elementor-element-78cd92e {
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
    }
    .elementor-widget-site-logo .widget-image-caption {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
    .elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .desktop-menu-area .rtmega-megamenu>.menu-item {
        padding: 14px 7.5px 14px 7.5px;
    }
    .elementor-61 .elementor-element.elementor-element-21899ad .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu>.menu-item {
        padding: 14px 7.5px 14px 7.5px;
    }
}

@media(max-width:1024px) {
    .elementor-61 .elementor-element.elementor-element-78cd92e {
        --justify-content: center;
        --align-items: center;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --padding-top: 015px;
        --padding-bottom: 15px;
        --padding-left: 15px;
        --padding-right: 15px;
    }
    .elementor-61 .elementor-element.elementor-element-6af3775.e-con {
        --order: -99999/* order start hack */
        ;
    }
    .elementor-widget-site-logo .widget-image-caption {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
    .elementor-61 .elementor-element.elementor-element-b585d71 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 15px;
        --padding-right: 15px;
    }
    .elementor-61 .elementor-element.elementor-element-b585d71.e-con {
        --order: 99999/* order end hack */
        ;
    }
    .elementor-61 .elementor-element.elementor-element-21899ad.elementor-element {
        --align-self: flex-end;
    }
    .elementor-61 .elementor-element.elementor-element-cc86739 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-61 .elementor-element.elementor-element-cc86739.e-con {
        --order: -99999/* order start hack */
        ;
    }
    .elementor-61 .elementor-element.elementor-element-402a93d>.elementor-widget-container {
        margin: 5px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-61 .elementor-element.elementor-element-78cd92e {
        --flex-direction: row;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --justify-content: flex-start;
    }
    .elementor-61 .elementor-element.elementor-element-6af3775 {
        --width: 48%;
    }
    .elementor-widget-site-logo .widget-image-caption {
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
    .elementor-61 .elementor-element.elementor-element-b585d71 {
        --width: 48%;
    }
    .elementor-61 .elementor-element.elementor-element-cc86739 {
        --width: 0%;
    }
}