.choose-sec {
    .icon-block{
        .icon{
            min-width: 62px;
            height: 62px;
            display: grid;
            align-content: center;
            justify-content: center;
        }
    }
    .choose-img{
        border-radius: 24px;
    }

}