.footer-1 {
    position: relative;
    color: $white;
    padding-top: 120px;
    hr{
        background-color: $accent-2;
    }
    .des{
        max-width: 500px;
    }
    .social-icons {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .block-title{
        color: $white;
    }
    .link-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width: 767px) {
            gap: 16px;
        }
        a {
            color: $white;
            transition: $transition;
            &:hover {
                color: $accent-2;
            }
        }
        &.contact-list{
            gap: 24px;
            .icon{
                flex-shrink: 0;
                width: 48px;
                height: 48px;
                background: $white;
                border-radius: 50%;
                flex-shrink: 0;
                display: grid;
                align-content: center;
                justify-content: center;
                svg{
                    path{
                        stroke: $accent-1;
                    }
                }
            }
            h6{
                color: $white;
            }
        }
    }
}

.footer-2 {
    position: relative;
    color: $dark-gray;
    .newsletter-sec{
        padding: 40px 50px;
        border-radius: 28px;
        transform: translateY(-50%);
        .newsletter-field {
            @media (max-width: 1399px) {
                max-width: 400px;
            }
        }
    }
    hr{
        background-color: $accent-2;
    }
    .des{
        max-width: 500px;
    }
    .social-icons {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .block-title{
        color: $dark-gray;
    }
    .link-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width: 767px) {
            gap: 16px;
        }
        a {
            color: $dark-gray;
            transition: $transition;
            &:hover {
                color: $accent-1;
            }
        }
        &.contact-list{
            gap: 24px;
            .icon{
                flex-shrink: 0;
                width: 48px;
                height: 48px;
                background: $accent-1;
                border-radius: 50%;
                flex-shrink: 0;
                display: grid;
                align-content: center;
                justify-content: center;
                svg{
                    path{
                        stroke: $accent-2;
                    }
                }
            }
            h6{
                color: $dark-gray;
            }
        }
    }
}
