.page-title{
    background: url("../media/images/bgi.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    position: relative;
    .content {
        position: relative;
        height: 600px;
        padding-top: 100px;
        display: grid;
        align-content: center;
        @include media-query(1399px) {
            height: 500px;
            padding-top: 80px;
        }
        @include media-query(1199px) {
            height: 450px;
        }
        .breadcrumb{
            display: flex;
            align-items: center;
            gap: 6px;
            list-style: none;
            background-color: $accent-1;
            padding: 0 20px;
            height: 40px;
            width: fit-content;
            border-radius: 4px;
            margin: 0 auto;
            li{
                a{
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    color: $white;
                    &::before{
                        content: "";
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        background: $white;
                        border-radius: 50%;
                    }
                }
                &:first-child{
                    a{
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}