.portfolio{
    .portfolio-item{
        position: relative;
        border-radius: 16px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
        }
        .content{
            width: 100%;
            position: absolute;
            transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
            bottom: 0;
            left: 0;
            transform: translateY(150%);
        }
        &:hover{
            .content{
                transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
                bottom: 0;
                transform: translateY(0%);        
                border-radius: 0 0 16px 16px;
            }
        }

    }
}
.nav-tabs{
    border: none;
    gap: 50px;
    margin-bottom: 50px;
    justify-content: center;
    li{
        &.nav-item{
            .nav-link{
                padding: 4px 15px;
                border: none;
                color: $dark-gray;
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease-in-out;
                &:hover,
                &.active{
                    background-color: $accent-1;
                    color: $white;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}